                <% provide(:title, 'Blank page') %>
                <%= render 'layouts/header' %>
                <!-- Main content -->
                <section class="content">


                </section><!-- /.content -->
                <%= render 'layouts/footer' %>